extends wraper

block titulo
	| #{title}

block content
	h3 This is your data
	h4 username  
		input(type="text" placeholder="not defined" value=username disabled)
	h4 email  
		input(type="text" placeholder="not defined" value=email disabled)
	h4 FACEBOOK DATA
	h4 Facebook Id  
		input(type="text" placeholder="not defined" value=facebookId disabled) 
	h4 Facebook Username  
		input(type="text" placeholder="not defined" value=fbUsername disabled) 
	h4 Facebook Email  
		input(type="text" placeholder="not defined" value=fbEmail disabled)