- var isLogged = isAuthenticated;

- var username, facebookId, provider,name,familyName,givenName,middleName,emails;
- if (user){
-	user.username ? username = user.username : username =  '';
-   user.email ? email = user.email : email =  '';
	-	if (user.facebook){
	-	user.facebook.fbId ? facebookId = user.facebook.fbId : facebookId = '';
	-	user.facebook.fbUsername ? fbUsername = user.facebook.fbUsername : fbUsername = '';
	-	user.facebook.fbEmail ? fbEmail = user.facebook.fbEmail : fbEmail = '';
	- 	}
-}	  

- var title = "This is Passport";

//-    login-default ou login
- var estrategia = "/login"


//- all css that we want will be defined here in this array
- var cssLinks = ["//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css"]//,"http://getbootstrap.com/examples/signin/signin.css"];

-var jsLinks = ["http://www.tutorialspoint.com/scripts/jquery.min.js","//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"];

//- MIXIN to create CSS
mixin cssLinks(arrayWithCssLinks)
	each item in arrayWithCssLinks
		link(href=item, rel="stylesheet", type="text/css")

//- //- MIXIN to create CSS
mixin jsLinks(arrayWithJsLinks)
	each item in arrayWithJsLinks
		script(src=item)



//-conforme a estrategia podera ser default (mandar um unauthorized) ou overriden...
mixin loginForm(estrategia)
	form(id="login" method="post" action=estrategia).form-signin
		h2.form-signin-heading Sign in here
		input(type="text" name="username" id="inputEmail" class="form-control" placeholder="username")
		input(type="password" name="password" id="inputPassword" class="form-control" placeholder="password")
		button(type="submit" form="login").btn.btn-lg.btn-info.btn-block Sign in
		a(href="/fb/facebook").btn.btn-lg.btn-primary.btn-block Sign in with Facebook
		br
	form(id="login" method="post" action='/bearer').form-signin
		h2.form-signin-heading Sign in here with token
		input(type="text" name="username" id="inputEmail" class="form-control" placeholder="username")
		input(type="password" name="password" id="inputPassword" class="form-control" placeholder="password")
		button(type="submit" form="login").btn.btn-lg.btn-warning.btn-block Sign in with Bearer
		br
	form(id="register" method="post" action="/register").form-signin
		input(type="text" name="username" id="inputEmail" class="form-control" placeholder="username")
		input(type="password" name="password" id="inputPassword" class="form-control" placeholder="password")
		button(type="submit" form="register").btn.btn-lg.btn-danger.btn-block Register new Account


//-type: success info warning danger default
mixin alert(message,color)
	div(class="alert alert-#{color} alert-dismissable")
		button(type="button" class="close" data-dismiss="alert" aria-hidden="true")
			X &times
		| #{message}